.row {

  @mixin clearFix;

  @mixin atMedium {

    &__medium-picture {
      float:left;
      width: 33.33%;

    }
  
    &__medium-description {
      float: left;
      width: 66.66%;
    }
  }


  &--gutters{
    margin-right: -65px;
  }

  &--gutters > div {
    padding-right: 65px;
  }
}
